<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div> 
            <h3 class="center-align skills-subsection">
                정보 활용능력이 좋은<br> 백엔드 개발자가 되고싶은 이원준입니다.
            </h3>

            <p class="paragraph-text justify-text">
                - 여러 개발 언어를 학습하고 배우는 것을 흥미로워합니다.<br><br>
                - 정보를 토대로 응용하고 활용하는 것을 좋아합니다.<br><br>
                - 어려운 문제일수록 빠르게 무언가 이뤄낸다는 생각보다는<br>
                &nbsp;&nbsp;끈기 있게 꾸준히 배우며 성장을 하는 것에 목표를 두고 있습니다.<br><br>
                - 학부 시절 프로그래밍을 접하여 프로그램을 완성하였을 때의 <br>
                &nbsp;&nbsp;성취감에 대한 흥미를 느껴 공부를 하기 시작했습니다.
            </p>

        </div>
    </section>
</div>
